{name, "Chicago Boss"}.
{authors, ["Evan Miller <emmiller@gmail.com>"]}.
{description, "Rails-like web MVC, now featuring Comet"}.
{homepage, "http://www.chicagoboss.org/"}.
{rebar_compatible, true}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/evanmiller/ChicagoBoss.git", {branch, "master"}}}.
